/* Normal desktop :1400px. */
@media (min-width: 1400px) and (max-width: 1600px) {

.header-area {
    padding: 0 16px;
}
.header-menu ul li {
    margin-right: 37px;
}
.about-area {
    padding: 15px 0 120px;
}

.room-area .container-fluid.add-margin {
    margin-left: 40px;
}

.room-area .owl-prev {
    right: 8%;
}

.room-area .owl-next {
    right: 13%;
}

.single-room-content {
    width: 75%;
}

.place-images-area {
    padding: 0 0 0 0;
}

.single-place-box {
    padding: 53px 71px 88px 59px;
}

.selection-images-1 {
    left: 143px;
}

.selection-images-2 {
    left: -149px;
}

.selection-images-3 {
    right: 3px;
}
.booking-area.style-two {
    padding: 0px 51px 0 37px;
    margin: 120px 46px 0;
}
.style-two .single-booking-box {
    padding: 59px 17px 60px;
    margin-left: 1px;
}

.footer-widget-gallery img {
    margin: 0 7px 7px 0;
    width: 29%;
}

.inner-pages .place-images-area {
    padding: 0 39px 119px 39px;
}

.inner-pages .place-images-area .single-place-box {
    padding: 59px 71px 53px 47px;
}

/*home Two*/
.top-area.style-two {
    padding: 17px 66px 1px;
}






}

/* Normal desktop :1300px. */
@media (min-width: 1300px) and (max-width: 1399px) {

.header-area {
    padding: 0 16px;
}
.header-menu ul li {
    margin-right: 37px;
}

.header-search i {
    margin-right: 30px;
}
.header-search i:after {
    right: -22px;
}
.header-sidbar i {
    margin-right: 3px;
}
.hero-area {
    height: 860px;
}

.about-area {
    padding: 15px 0 120px;
}

.about-right {
    margin-left: 61px;
    margin-top: -29px;
}

.room-area .container-fluid.add-margin {
    margin-left: 40px;
}

.room-area .owl-prev {
    right: 8%;
}

.room-area .owl-next {
    right: 13%;
}

.single-room-content {
    width: 75%;
}

.single-service-box {
    padding: 47px 26px 38px;
}

.place-images-area {
    padding: 0 0 0 0;
}

.single-place-box {
    padding: 53px 49px 52px 48px;
}

.selection-images-1 {
    left: 86px;
}

.selection-images-2 {
    left: -149px;
}

.selection-images-3 {
    right: 3px;
}
.booking-area.style-two {
    padding: 0px 51px 0 37px;
    margin: 120px 46px 0;
}
.style-two .single-booking-box {
    padding: 59px 17px 60px;
    margin-left: 1px;
}

.meta-blog span {
    margin-right: 25px;
}

.blog-content {
    padding: 28px 18px 25px;
}

.footer-widget-gallery img {
    margin: 0 7px 7px 0;
    width: 29%;
}

/*Inner Pasea All Responsive Css*/
.inner-style .header-menu ul li {
    margin-right: 28px;
}
.about-area.inner-style .about-thumb {
    position: relative;
    left: -66px;
}

.inner-style .section-title h1 {
    font-size: 36px;
    line-height: 38px;
}

.inner-style .room-list-info {
    width: 70%;
}

.room-details-check-box {
    margin-right: 80px;
}

.room-details-area .rules {
    gap: 79px;
}

.inner-pages .place-images-area {
    padding: 0 13px 119px 10px;
}

.inner-pages .place-images-area .single-place-box {
    padding: 59px 22px 39px 35px;
}

.team-area .team-content h4 {
    font-size: 15px;
}

.single-pricing-box {
    padding: 13px 19px 37px;
}

.pricing-body {
    padding: 35px 25px 26px;
}

.single-pricing-title h4:before {
    width: 56%;
}

.recent-widget-content a {
    font-size: 14px;
    line-height: 21px;
}

.blog-list-content a {
    font-size: 26px;
    line-height: 40px;
}

.single-info-content p {
    font-size: 17px;
}

/*home Two*/
.top-area.style-two {
    padding: 17px 11px 1px;
}


.hotel-fecilities-thumb {
    left: 67px;
}

.hotel-fecilities-box.two {
    left: 72px;
}

.style-two .teasti-content p {
    width: 100%;
}

.style-two.blog-area .blog-content {
    padding: 31px 20px 24px;
}

.style-two.blog-area .blog-content a {
    padding-right: 8px;
}





}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1299px) {

.header-area {
    padding: 0 16px;
}
.header-menu ul li {
    margin-right: 32px;
}
.header-search i {
    margin-right: 4px;
}
.header-sidbar i {
    margin-right: 0;
}
.header-search i:after {
    right: -6px;
}
.hero-area {
    height: 860px;
}

.about-area {
    padding: 15px 0 120px;
}

.about-right {
    margin-left: 61px;
    margin-top: -29px;
}

.room-area .container-fluid.add-margin {
    margin-left: 40px;
}

.room-area .owl-prev {
    right: 8%;
}

.room-area .owl-next {
    right: 13%;
}

.single-room-content {
    width: 75%;
}

.single-service-box {
    padding: 47px 26px 38px;
}

.place-images-area {
    padding: 0 0 0 0;
}

.single-place-box {
    padding: 33px 16px 39px 35px;
}

.single-selection-title h1 {
    font-size: 32px;
    line-height: 29px;
}

.selection-images-1 {
    left: 86px;
}

.selection-images-2 {
    left: -149px;
}

.selection-images-3 {
    right: 3px;
}
.booking-area.style-two {
    padding: 0px 51px 0 37px;
    margin: 120px 46px 0;
}
.style-two .single-booking-box {
    padding: 59px 17px 60px;
    margin-left: 1px;
}

.style-two .booking-content {
    padding: 25px 12px 25px;
}

.meta-blog span {
    margin-right: 25px;
}

.blog-content {
    padding: 28px 18px 25px;
}

.footer-widget-title h4 {
    font-size: 17px;
}

.footer-widget-gallery img {
    margin: 0 7px 7px 0;
    width: 29%;
}

/*Inner Pasea All Responsive Css*/
.inner-style .header-menu ul li {
    margin-right: 28px;
}
.about-area.inner-style .about-thumb {
    position: relative;
    left: -66px;
}

.inner-style .section-title h1 {
    font-size: 36px;
    line-height: 38px;
}

.inner-style .room-list-info {
    width: 70%;
}

.room-details-check-box {
    margin-right: 80px;
}

.room-details-area .rules {
    gap: 79px;
}

.inner-pages .place-images-area {
    padding: 0 13px 119px 10px;
}

.inner-pages .place-images-area .single-place-box {
    padding: 29px 22px 36px 35px;
}

.team-area .team-content h4 {
    font-size: 17px;
}

.single-pricing-box {
    padding: 13px 19px 37px;
}

.pricing-body {
    padding: 35px 25px 26px;
}

.single-pricing-title h4:before {
    width: 56%;
}
.recent-widget-content a {
    font-size: 14px;
    line-height: 21px;
}

.blog-list-content a {
    font-size: 26px;
    line-height: 40px;
}

.single-info-content p {
    font-size: 17px;
}

/*home Two*/
.top-area.style-two {
    padding: 17px 11px 1px;
}


.hotel-fecilities-thumb {
    left: 67px;
}

.hotel-fecilities-box.two {
    left: 72px;
}

.style-two .teasti-content p {
    width: 100%;
}

.style-two.blog-area .blog-content {
    padding: 31px 20px 24px;
}

.style-two.blog-area .blog-content a {
    padding-right: 8px;
}





}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
.header-area {
    padding: 0 16px;
}
.header-menu ul li {
    margin-right: 16px;
}
.header-search i {
    margin-right: 4px;
}
.header-sidbar i {
    margin-right: 0;
}
.header-search i:after {
    background: transparent;
}
.header-button a {
    padding: 9px 21px;
    font-size: 12px;
}
.hero-area {
    height: 760px;
}
.booking-button {
    right: 7px;
}
.hero-content h1 {
    font-size: 48px;
    line-height: 50px;
}
.about-area {
    padding: 58px 0 120px;
}
.section-title h1 {
    font-size: 34px;
    line-height: 30px;
}
.about-right {
    margin-left: 61px;
    margin-top: -29px;
}
.about-thumb-right {
    top: 19px;
}

.room-area .container-fluid.add-margin {
    margin-left: 40px;
}

.room-area .owl-prev {
    right: 8%;
}

.room-area .owl-next {
    right: 15%;
}

.single-room-content {
    width: 91%;
}

.single-service-box {
    padding: 47px 17px 38px;
}
.single-service-box:before {
    width: 90%;
    height: 88%;
}
.fecilities-area {
    padding: 118px 0 425px;
}
.fecilities-content h4 {
    font-size: 19px;
}
.place-images-area {
    padding: 0 0 0 0;
}
.single-place-box {
    padding: 17px 6px 21px 27px;
}
p.place-desc {
    margin: 19px 0 36px;
}
.place-images-area .section-title h1 {
    font-size: 33px;
}

.single-selection-title h1 {
    font-size: 32px;
    line-height: 29px;
}

.selection-images-1 {
    left: -19px;
}

.selection-images-2 {
    left: -149px;
}

.selection-images-3 {
    right: -42px;
}
.booking-area.style-two {
    padding: 0px 0 0 3px;
    margin: 99px 0px 0;
}
.style-two .single-booking-box {
    padding: 59px 17px 60px;
    margin-left: 1px;
}

.style-two .booking-content {
    padding: 25px 12px 25px;
}

.meta-blog span {
    margin-right: 25px;
}

.blog-content {
    padding: 28px 18px 25px;
}

.blog-content a {
    font-size: 19px;
    line-height: 26px;
}

.footer-widget-title h4 {
    font-size: 16px;
}

.footer-widget-gallery img {
    margin: 0 5px 6px 0;
    width: 31%;
}

/*Inner Pasea All Responsive Css*/
.inner-style .header-menu ul li {
    margin-right: 18px;
}

.about-area.inner-style .about-thumb {
    position: relative;
    left: -157px;
}

.inner-style .section-title h1 {
    font-size: 28px;
    line-height: 29px;
}

.inner-style .about-address p {
    padding: 14px 43px 17px 30px;
}

.inner-style .room-list-info {
    width: 86%;
}

.room-content {
    padding: 16px 17px 7px;
}

.inner-style .row.add-backgroun {
    padding: 98px 29px 101px;
}

.room-details-item span {
    margin-right: 35px;
}

.room-details-check-box {
    margin-right: 12px;
}

.room-details-area .room-rules {
    padding: 78px 11px 8px;
}

.room-details-area .rules {
    gap: 16px;
}

.room-details-sidbar-form {
    padding: 44px 14px 34px;
}

.inner-pages .place-images-area {
    padding: 0 13px 95px 10px;
}

.inner-pages .place-images-area .single-place-box {
    padding: 15px 15px 18px 18px;
}

.service-details-right {
    padding: 21px 18px 40px;
}

.services-details-title-box {
    margin-bottom: 20px;
}

.team-content {
    padding: 0 18px 0;
}

.team-area .team-content h4 {
    font-size: 18px;
}

.single-pricing-box {
    padding: 13px 14px 25px;
}

.pricing-body {
    padding: 35px 15px 15px;
}

.single-pricing-title h4:before {
    width: 42%;
}

.blog-list-content {
    padding: 22px 22px 24px;
}

.blog-list-content a {
    font-size: 22px;
}

.blog-list-area p.blog-list {
    margin: 5px 0 8px;
}

.widget-categories-box {
    padding: 21px 13px 15px;
}

.blog-related-box {
    padding: 30px 12px 31px 31px;
}

.blog-related-box.style-two {
    padding: 30px 23px 31px 0px;
}

.blog-details-title a {
    font-size: 27px;
    padding-top: 2px;
}

.single-info-box {
    gap: 15px;
    padding: 29px 11px 29px;
}

.single-info-content p {
    font-size: 16px;
    margin: 3px 0 0;
}

.google-map iframe {
    width: 100%;
    height: 450px;
}

/*home Two*/
.top-area.style-two {
    padding: 17px 11px 1px;
}

.style-two .top-info ul li {
    margin-right: 10px;
}

.style-two .top-info ul li i {
    margin-right: 9px;
}

.style-two .about-conuter-box {
    margin-right: 60px;
}

.hotel-fecilities-thumb {
    left: -24px;
}

.hotel-fecilities-content p {
    width: 100%;
}

.hotel-fecilities-content h4 {
    right: 0px;
}

.hotel-fecilities-box.two {
    left: -7px;
}

.style-two .teasti-content p {
    width: 100%;
}

.style-two .single-form-box {
    padding: 48px 34px 66px;
    margin-left: 44px;
}

.style-two.blog-area .blog-content {
    padding: 31px 20px 24px;
}

.style-two.blog-area .blog-content a {
    padding-right: 0;
    font-size: 22px;
    line-height: 32px;
}






}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.header-area {
    display: none;
}

.sticky {
    position: absolute !important;
}

.hero-content h1 {
    font-size: 34px;
    line-height: 35px;
}

.hero-content h1 span:after {
    right: -206px;
}
.hero-content h1 span:before {
    left: -177px;
}
.hero-area {
    height: 670px;
    padding: 107px 0 0;
}

.booking-input-box {
    width: 33%;
    margin-bottom: 7px;
}

.booking-button {
    right: 54px;
    top: 42%;
}

.about-area {
    padding: 193px 0 142px;
}

.section-title p.style {
    width: 76%;
}

.about-right {
    margin-left: 0px;
    margin-top: 42px;
}
.about-right-desc p {
    margin-top: 36px;
    width: 61%;
}

.about-thumb-right {
    top: 27px;
    left: 0;
}
.about-thumb-right img {
    width: 100%;
}

.room-area .container-fluid.add-margin {
    margin-left: 0;
}
.room-area .owl-prev {
    top: -18%;
    right: 4%;
}
.room-area .owl-next {
    top: -18%;
    right: 13%;
}
.single-room-box {
    margin: 0 0 0 0;
}
.service-area .row.add-margin {
    margin-right: -33px;
}
.fecilities-area {
    padding: 118px 0 404px;
}
.single-fecilities-box {
    margin-bottom: 22px;
}
.service-area {
    padding: 100px 0 100px;
}
.single-service-box {
    margin-bottom: 22px;
}
.single-service-box:before {
    width: 83%;
    height: 88%;
}
.place-area .project-button {
    text-align: left;
    margin-top: 25px;
}
.place-images-area {
    padding: 0 0 0 0px;
}
.single-place-box {
    padding: 66px 116px 67px 55px;
    margin-left: 0;
    margin-top: 33px;
}
.video-area {
    padding: 85px 0 116px;
    margin: 0 0 0;
}
.video-area .section-title p {
    width: 70%;
}
.selections-area {
    background-position: center left;
}
.selection-images-3 {
    right: -145px;
}
.selection-images-2 {
    bottom: 0;
    left: -306px;
}
.selection-images-1 {
    left: -168px;
}
.single-selection-title h1 {
    font-size: 32px;
    line-height: 30px;
}
.booking-area.style-two {
    padding: 0px 25px 119px 26px;
    margin: 120px 0 0;
}
.style-two .single-booking-box {
    margin-left: 0;
}
.blog-area {
    padding: 119px 0 96px;
}
.blog-area .section-title {
    margin-bottom: 19px;
}
.blog-area .section-title p.style {
    width: 65%;
}
p.blog-desc {
    margin: 32px 0 32px;
    width: 62%;
}
.single-blog-box {
    margin-bottom: 20px;
}
.blog-content {
    padding: 28px 19px 25px;
}
.meta-blog span {
    margin-right: 11px;
}
.blog-content a {
    font-size: 22px;
    line-height: 30px;
}

.footer-bottom-content ul li a {
    margin-left: 30px;
 }
/*All Inner Pages Responsive Css*/
.inner-style .about-right {
    margin-top: 33px;
}
h4.cleandear-content {
    margin: 68px 0 53px;
}
.inner-style .about-address p {
    padding: 14px 211px 17px 30px;
}

.single-room-list-box {
    margin-bottom: 53px;
}

.inner-style .row.add-backgroun {
    padding: 98px 52px 101px;
}

.room-details-check-box {
    margin-right: 40px;
}

.room-details-area .room-rules {
    padding: 78px 12px 8px;
}

.room-details-area .rules {
    gap: 30px;
}

.inner-pages .place-images-area {
    padding: 0 0 58px 0;
}

.single-place-box.two {
    margin-bottom: 36px;
}

.service-details-right {
    margin-top: 24px;
}

.services-details-title-box {
    margin-bottom: 16px;
}

.services-details-title-box p {
    width: 100%;
    margin: 16px 0 0;
}

.pricing-body {
    padding: 35px 19px 26px;
}

.single-pricing-title h4:before {
    width: 47%;
}

.blog-list-content a {
    font-size: 26px;
}

.blog-related-box {
    padding: 30px 21px 31px 26px;
}

.blog-related-box.style-two {
    padding: 30px 43px 31px 21px;
}

.single-blog-sibar-box {
    padding: 0 0px 40px;
    border-radius: 298px;
}

.blog-side-bar-thumb {
    padding: 28px 123px 6px;
    margin-top: 38px;
}

.single-info-box {
    gap: 12px;
    padding: 29px 15px 29px;
    margin-bottom: 21px;
}

.single-info-content p {
    font-size: 18px;
    margin: 7px 0 0;
}

.inner-style.contact-area {
    padding: 90px 0 120px;
}

.breadcumb-area {
    padding: 204px 0 151px;
}



/*home Two*/
.top-area.style-two {
    display: none;
}

.style-two.hero-area {
    margin: 0 0 0;
}

.style-two .hero-content h1 {
    font-size: 48px;
    line-height: 48px;
}

.booking-area .row.add-bg.align-items-center {
    margin: -119px 0;
}

.about-area.style-two {
    padding: 175px 0 19px;
}

.style-two .about-thumb {
    left: 0;
    margin-bottom: 38px;
}

.style-two .about-thumb img {
    width: 100%;
}

.style-two p.section-desc-2 {
    width: 74%;
}

.style-two .service-thumb {
    left: 0;
    margin-top: 26px;
}

.style-two .service-thumb img {
    width: 100%;
}

.style-two .service-price-box {
    right: 23px;
    bottom: 20px;
}

.hotel-fecilities-thumb {
    left: 0;
    margin-bottom: 45px;
}

.hotel-fecilities-content h4 {
    right: 200px;
    top: -27px;
}

.hotel-fecilities-content p {
    /* width: 70%; */
    margin: 66px 0 0;
}

.hotel-fecilities-box.two {
    left: 0;
    margin-bottom: 31px;
}

.hotel-fecilities-thumb.two {
    left: 0;
    margin-bottom: 0;
}

.style-two .teasti-content p {
    width: 84%;
}

.style-two .single-form-box {
    margin-left: 0;
    margin-top: 50px;
}

.style-two.teastimonial-area {
    padding: 120px 0 117px;
}

.style-two.blog-area .meta-blog span {
    margin-left: 12px;
    margin-right: 19px;
}

.style-two.blog-area .blog-content {
    padding: 31px 23px 24px;
}

.style-two.blog-area .blog-content a {
    font-size: 22px;
    line-height: 27px;
    padding-right: 19px;
}






}



/* Tablet desktop :600px. */
@media (min-width: 600px) and (max-width: 767px) {
 .header-area {
    display: none;
}

.hero-content h1 {
    font-size: 34px;
    line-height: 35px;
}

.hero-content h1 span:after {
    right: -206px;
}
.hero-content h1 span:before {
    left: -177px;
}
.hero-area {
    height: 670px;
    padding: 97px 0 0;
}
.hero-area .row.add-bg.align-items-center {
    padding: 35px 15px 93px;
}
.booking-input-box {
    width: 48%;
    margin-bottom: 7px;
}
.booking-button {
    right: 217px;
    top: 73%;
}
.hero-slider-area .owl-dot {
    top: 13px;
    position: relative;
}

.about-area {
    padding: 174px 0 148px;
}
.section-title h1 {
    font-size: 29px;
    line-height: 28px;
}
.section-title p.style {
    width: 76%;
}

.about-right {
    margin-left: 0px;
    margin-top: 42px;
}
.about-right-desc p {
    margin-top: 36px;
    width: 84%;
}

.about-thumb-right {
    top: 27px;
    left: 0;
}

.room-area .container-fluid.add-margin {
    margin-left: 0;
}
.room-area .owl-prev {
    top: -23%;
    right: 4%;
}
.room-area .owl-next {
    top: -23%;
    right: 13%;
}
.single-room-content {
    width: 87%;
}
.fecilities-area {
    padding: 118px 0 404px;
}
.single-fecilities-box {
    margin-bottom: 22px;
}
.service-area {
    padding: 100px 0 100px;
}
.single-service-box {
    margin-bottom: 22px;
    padding: 51px 45px 38px;
}
.single-service-box:before {
    width: 83%;
    height: 88%;
}
.place-area .project-button {
    text-align: left;
    margin-top: 25px;
}
.place-images-area {
    padding: 0 0 0 0px;
}
.single-place-box {
    padding: 66px 116px 67px 55px;
    margin-left: 0;
    margin-top: 33px;
}
.video-area {
    padding: 85px 0 116px;
    margin: 0 0 0;
}
.video-area .section-title p {
    width: 70%;
}
.selections-area {
    background-position: center left;
}
.selection-images-3 {
   display: none;
}
.selection-images-2 {
  display: none;
}
.selection-images-1 {
    display: none;
}
.booking-area.style-two {
    padding: 0px 25px 0 26px;
    margin: 120px 0 0;
}
.style-two .single-booking-box {
    margin-left: 0;
}
.blog-area {
    padding: 119px 0 96px;
}
.blog-area .section-title {
    margin-bottom: 19px;
}
.blog-area .section-title p.style {
    width: 65%;
}
p.blog-desc {
    margin: 32px 0 32px;
    width: 62%;
}
.single-blog-box {
    margin-bottom: 20px;
}
.blog-content {
    padding: 28px 19px 25px;
}
.meta-blog span {
    margin-right: 11px;
}
.blog-content a {
    font-size: 22px;
    line-height: 30px;
}
.footer-widget-gallery img {
    width: 28%;
}
.footer-bottom-content ul li {
    float: left;
    margin-top: 16px;
}
.footer-widget-content {
    margin-bottom: 89px;
}
.footer-area .row.aa-boder {
    margin-top: 16px;
}
.footer-bottom-content ul li a {
    margin-left: 0;
    margin-right: 18px;
}

/*all inner Pages Responsive */
.about-area.inner-style .about-thumb img {
    width: 100%;
    margin-bottom: 33px;
}

.room-list-area.inner-style {
    padding: 119px 0 64px;
}

.single-room-list-box {
    margin-bottom: 48px;
}

.inner-style .room-list-info {
    width: 74%;
}

.find-room-area .row.add-bg {
    padding: 39px 15px 102px;
}

.inner-style .row.add-backgroun {
    padding: 98px 26px 101px;
}

.room-details-item span {
    margin-right: 14px;
}

p.room-detils-desc {
    width: 100%;
}

.room-details-check-box {
    margin-bottom: 0;
}

.room-details-area .room-rules {
    margin-top: 26px;
}

.room-details-area .rules {
   display: block;
}

h4.cleandear-content {
    margin: 68px 0 57px;
}

.inner-pages .place-images-area {
    padding: 0 0 58px 0;
}

.inner-pages .place-images-area .single-place-box {
    padding: 66px 90px 67px 55px;
}

.inner-pages .place-images-area .single-place-box.two {
    margin-bottom: 36px;
}

.service-details-right {
    margin-top: 24px;
}

.services-details-title-box {
    margin-bottom: 16px;
}

.services-details-title-box p {
    width: 100%;
    margin: 16px 0 0;
}

.team-area .single-team-box {
    border-radius: 240px;
}

.blog-list-content a {
    font-size: 26px;
}

.blog-details-title a {
    font-size: 24px;
    padding-top: 2px;
}

.blog-related-box {
    padding: 30px 21px 31px 26px;
}

.blog-related-box.style-two {
    padding: 30px 43px 31px 21px;
}

.single-blog-sibar-box {
    padding: 0 0px 40px;
    border-radius: 298px;
}

.blog-side-bar-thumb {
    padding: 28px 123px 6px;
    margin-top: 38px;
}

.blog-details-desc p {
    width: 100%;
}

.blog-details-tag ul li {
    margin-right: 4px;
}

.blog-details-tag ul li a {
    padding: 2px 8px;
}

.blog-details-comment.style-two {
    margin-left: 1px;
}

.single-info-box {
    gap: 12px;
    padding: 29px 15px 29px;
    margin-bottom: 21px;
}

.single-info-content p {
    font-size: 18px;
    margin: 7px 0 0;
}

.breadcumb-area {
    padding: 204px 0 151px;
}

.breadcumb-content h4 {
    font-size: 49px;
}

.sticky {
    position: absolute !important;
}

/*home Two*/
.top-area.style-two {
    display: none;
}

.style-two.hero-area {
    margin: 0 0 0;
}

.style-two .hero-content h1 {
    font-size: 48px;
    line-height: 48px;
}

.booking-area .row.add-bg.align-items-center {
    margin: -146px 0;
    padding: 35px 15px 92px;
}

.about-area.style-two {
    padding: 236px 0 19px;
}

.style-two .about-thumb {
    left: 0;
    margin-bottom: 38px;
}

.style-two .about-thumb img {
    width: 100%;
}

.style-two p.section-desc-2 {
    width: 95%;
}

.style-two .about-right-box {
    gap: 93px;
}

.style-two.service-area {
    padding: 0 0 120px;
}

.style-two .service-thumb {
    left: 0;
    margin-top: 26px;
}

.style-two .service-thumb img {
    width: 100%;
}

.style-two .service-price-box {
    right: 23px;
    bottom: 20px;
}

.hotel-fecilities-thumb {
    left: 0;
    margin-bottom: 45px;
}

.hotel-fecilities-content h4 {
    right: 49px;
    top: -27px;
}

.hotel-fecilities-content p {
    /* width: 88%; */
    margin: 66px 0 0;
}

.hotel-fecilities-box.two {
    left: 0;
    margin-bottom: 31px;
}

.hotel-fecilities-thumb.two {
    left: 0;
    margin-bottom: 0;
}

.style-two .teasti-content p {
    width: 97%;
}

.style-two .single-form-box {
    margin-left: 0;
    margin-top: 50px;
}

.style-two.blog-area .section-title {
    margin-bottom: 48px;
}

.style-two.blog-area .meta-blog span {
    margin-left: 12px;
    margin-right: 19px;
}

.style-two.blog-area .blog-content {
    padding: 31px 23px 24px;
}

.style-two.blog-area .blog-content a {
    font-size: 22px;
    line-height: 27px;
    padding-right: 19px;
}






}






/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {
  .header-area {
    display: none;
}

.hero-content h1 {
    font-size: 25px;
    line-height: 20px;
}

.hero-content h1 span:after {
    right: -206px;
}
.hero-content h1 span:before {
    left: -177px;
}
.hero-area {
    height: 670px;
    padding: 100px 0 0;
}
.hero-area .row.add-bg.align-items-center {
    padding: 35px 15px 93px;
}
.booking-input-box {
    width: 48%;
    margin-bottom: 7px;
}
.booking-button {
    right: 0;
    top: 73%;
    left: 26px;
}
.hero-slider-area .owl-dot {
    top: 23px;
    position: relative;
    left: -16px;
}
.about-area {
    padding: 126px 0 150px;
}
.section-title h1 {
    font-size: 29px;
    line-height: 28px;
}
.section-title h1.style {
    margin-left: 81px;
}
.section-title h1.style:before {
    width: 81px;
    left: -89px;
    top: 22px;
}
.section-title p.style {
    width: 76%;
    margin-left: 86px;
}

.about-right {
    margin-left: 0px;
    margin-top: 42px;
}
.about-right-desc p {
    margin-top: 36px;
    width: 90%;
}

.about-thumb-right {
    top: 27px;
    left: 0;
}

.room-area .container-fluid.add-margin {
    margin-left: 0;
}
.room-area .owl-prev {
    top: -17%;
    right: 4%;
}
.room-area .owl-next {
    top: -17%;
    right: 16%;
}
.single-room-content {
    width: 95%;
}
.fecilities-area {
    padding: 118px 0 404px;
}
.single-fecilities-box {
    margin-bottom: 22px;
}
.service-area {
    padding: 100px 0 100px;
}
.single-service-box {
    margin-bottom: 22px;
    padding: 51px 45px 38px;
}
.single-service-box:before {
    width: 83%;
    height: 88%;
}
.place-area .project-button {
    text-align: left;
    margin-top: 25px;
}
.place-images-area {
    padding: 0 0 0 0px;
}
.single-place-box {
    padding: 66px 36px 67px 29px;
    margin-left: 0;
    margin-top: 33px;
}
.video-area {
    padding: 85px 0 116px;
    margin: 0 0 0;
}
.video-area .section-title p {
    width: 70%;
}
.selections-area {
    background-position: center left;
}
.selection-images-3 {
   display: none;
}
.selection-images-2 {
  display: none;
}
.selection-images-1 {
    display: none;
}
.booking-area.style-two {
    padding: 0px 25px 0 26px;
    margin: 120px 0 0;
}
.style-two .single-booking-box {
    margin-left: 0;
    padding: 59px 16px 60px;
}
.single-testi-desc p {
    font-size: 20px;
    line-height: 33px;
}
.blog-area {
    padding: 119px 0 96px;
}
.blog-area .section-title {
    margin-bottom: 19px;
}
.blog-area .section-title p.style {
    width: 65%;
}
p.blog-desc {
    margin: 32px 0 32px;
    width: 62%;
}
.single-blog-box {
    margin-bottom: 20px;
}
.blog-content {
    padding: 28px 19px 25px;
}
.meta-blog span {
    margin-right: 11px;
}
.blog-content a {
    font-size: 22px;
    line-height: 30px;
}
.footer-widget-gallery img {
    width: 28%;
}
.footer-bottom-content ul li {
    float: left;
    margin-top: 16px;
}
.footer-widget-content {
    margin-bottom: -10px;
    margin-top: 33px;
}
.footer-area .row.aa-boder {
    margin-top: 112px;
}
.footer-bottom-content ul li a {
    margin-left: 0;
    margin-right: 18px;
}

/*all inner Pages Responsive */

.about-area.inner-style .about-thumb img {
    width: 100%;
    margin-bottom: 33px;
}

.inner-style .about-address p {
    padding: 14px 110px 17px 30px;
}

.room-list-area.inner-style {
    padding: 119px 0 64px;
}

.single-room-list-box {
    margin-bottom: 48px;
}

.inner-style .room-list-info {
    width: 85%;
}

.find-room-area .row.add-bg {
    padding: 35px 15px 90px;
}

.inner-style .row.add-backgroun {
    padding: 98px 10px 101px;
}

.room-details-item span {
    margin-right: 20px;
}

p.room-detils-desc {
    width: 100%;
}

.room-details-check-box {
    margin-bottom: 0;
}

.room-details-area .room-rules {
    margin-top: 29px;
}

.room-details-area .room-rules {
    padding: 78px 22px 8px;
     margin-top: 29px;
}

.room-details-area .rules {
    display: block;
}

h4.cleandear-content {
    margin: 68px 0 53px;
}

.inner-pages .place-images-area {
    padding: 0 0 58px 0;
}

.inner-pages .place-images-area .single-place-box {
    padding: 66px 13px 67px 27px;
}

.inner-pages .place-images-area .single-place-box.two {
    margin-bottom: 36px;
}

.service-details-right {
    margin-top: 24px;
}

.services-details-title-box {
    margin-bottom: 16px;
}

.services-details-title-box p {
    width: 100%;
    margin: 16px 0 0;
}

.services-details-title-box h1 {
    font-size: 35px;
}

.blog-list-content a {
    font-size: 25px;
    line-height: 34px;
}

.blog-details-title a {
    font-size: 24px;
    padding-top: 2px;
}

.blog-related-box {
    padding: 30px 21px 31px 26px;
}

.blog-related-box.style-two {
    padding: 30px 43px 31px 21px;
}

.single-blog-sibar-box {
    padding: 0 0px 40px;
    border-radius: 298px;
}

.blog-side-bar-thumb {
    padding: 28px 56px 6px;
    margin-top: 38px;
}

.blog-details-desc p {
    width: 100%;
}

.blog-details-tag ul li {
    margin-right: 4px;
}

.blog-details-tag ul li a {
    padding: 2px 8px;
}

.blog-details-comment.style-two {
    margin-left: 1px;
}

.blog-details-social {
    text-align: left;
    margin-top: 16px;
}

.blog-details-comment-thumb {
    float: inherit;
    margin-right: 0;
    margin-bottom: 17px;
}

.single-info-box {
    gap: 12px;
    padding: 29px 15px 29px;
    margin-bottom: 21px;
}

.single-info-content p {
    font-size: 18px;
    margin: 7px 0 0;
}

.breadcumb-area {
    padding: 204px 0 151px;
}

.breadcumb-content h4 {
    font-size: 49px;
}

.sticky {
    position: absolute !important;
}


/*home Two*/
.top-area.style-two {
    display: none;
}

.style-two.hero-area {
    margin: 0 0 0;
}

.style-two .hero-content h1 {
    font-size: 43px;
    line-height: 46px;
}

.booking-area .row.add-bg.align-items-center {
    margin: -146px 0;
    padding: 35px 15px 92px;
}

.about-area.style-two {
    padding: 236px 0 19px;
}

.style-two .about-conuter-box {
    margin-right: 46px;
}

.style-two .about-right-box {
    gap: 56px;
}

.style-two .about-author-singthure:before {
    left: -27px;
    top: 7px;
}

.style-two .about-thumb {
    left: 0;
    margin-bottom: 38px;
}

.style-two .about-thumb img {
    width: 100%;
}

.style-two p.section-desc-2 {
    width: 95%;
}

.style-two.service-area {
    padding: 0 0 120px;
}

.style-two .service-thumb {
    left: 0;
    margin-top: 26px;
}

.style-two .service-item-title h1 {
    font-size: 22px;
}

.style-two .service-thumb img {
    width: 100%;
}

.style-two .service-price-box {
    right: 23px;
    bottom: 20px;
}

.hotel-fecilities-thumb {
    left: 0;
    margin-bottom: 45px;
}

.hotel-fecilities-content h4 {
    right: 1px;
    top: -27px;
    font-size: 80px;
}

.hotel-fecilities-content p {
    /* width: 88%; */
    margin: 66px 0 0;
}

.hotel-fecilities-box.two {
    left: 0;
    margin-bottom: 31px;
}

.hotel-fecilities-thumb.two {
    left: 0;
    margin-bottom: 0;
}

.style-two .teasti-content p {
    width: 97%;
}

.style-two .single-form-box {
    margin-left: 0;
    margin-top: 50px;
}

.style-two.blog-area .section-title {
    margin-bottom: 48px;
}

.style-two.blog-area .meta-blog span {
    margin-left: 12px;
    margin-right: 19px;
}

.style-two.blog-area .blog-content {
    padding: 31px 23px 24px;
}

.style-two.blog-area .blog-content a {
    font-size: 22px;
    line-height: 27px;
    padding-right: 0;
}





}

/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {
   .header-area {
    display: none;
}

  .header-area {
    display: none;
}

.hero-content h1 {
    font-size: 19px;
    line-height: 18px;
}

.hero-content h1 span:after {
    right: -206px;
}
.hero-content h1 span:before {
    left: -177px;
}
.hero-area {
    height: 670px;
    padding: 102px 0 0;
}
.hero-area .row.add-bg.align-items-center {
    padding: 35px 15px 93px;
}
.booking-input-box {
    width: 100%;
    margin-bottom: 7px;
}
.booking-button {
    right: 0;
    top: 82%;
    left: 26px;
}
.hero-slider-area .owl-dot {
    top: 23px;
    position: relative;
    left: -16px;
}
.about-area {
    padding: 246px 0 144px;
}
.section-title h1 {
    font-size: 18px;
    line-height: 17px;
}
.section-title h1.style {
    margin-left: 81px;
}
.section-title h1.style:before {
    width: 81px;
    left: -89px;
    top: 22px;
}
.section-title p.style {
    width: 100%;
    margin-left: 0;
}

.single-about-thumb img {
    width: 100%;
    margin-bottom: 21px;
}

.about-right {
    margin-left: 0px;
    margin-top: 42px;
}
.about-right-desc p {
    margin-top: 36px;
    width: 90%;
}

.about-thumb-right {
    top: 27px;
    left: 0;
}

.room-area .container-fluid.add-margin {
    margin-left: 0;
}
.room-area .owl-prev {
    top: -17%;
    right: 4%;
}
.room-area .owl-next {
    top: -17%;
    right: 24%;
}
.single-room-content {
    width: 100%;
}
.single-room-box {
    margin: 0 0 0 0;
}
.single-room-content {
    width: 100%;
    left: 0;
    padding: 0 0 0 10px;
}
.room-price {
    padding: 4px 6px 0;
}
.room-title a {
    font-size: 18px;
}
.fecilities-area {
    padding: 118px 0 422px;
}
.single-fecilities-box {
    margin-bottom: 22px;
}
.service-area .row.add-margin {
    margin-right: -33px;
}
.service-area {
    padding: 100px 0 98px;
}
.single-service-box {
    margin-bottom: 22px;
    padding: 51px 29px 38px;
}
.service-content h4 {
    font-size: 17px;
}
.single-service-box:before {
    width: 91%;
    height: 89%;
}
.place-images-area .section-title h1 {
    font-size: 24px;
}
.place-area .project-button {
    text-align: left;
    margin-top: 25px;
}
.place-images-area {
    padding: 0 0 0 0px;
}
.single-place-box {
    padding: 66px 36px 67px 29px;
    margin-left: 0;
    margin-top: 33px;
}
.video-area {
    padding: 88px 0 102px;
    margin: 0 0 0;
}
.video-area .section-title p {
    width: 90%;
}
.selections-area {
    background-position: center left;
    padding: 102px 0 51px;
}
.selection-images-3 {
   display: none;
}
.selection-images-2 {
  display: none;
}
.selection-images-1 {
    display: none;
}
.booking-area.style-two {
    padding: 0px 11px 0 4px;
    margin: 120px 0 0;
}
.style-two .booking-content {
    padding: 25px 13px 25px;
}
.style-two .booking-content h4 {
    font-size: 14px;
}
.style-two .single-booking-box {
    margin-left: 0;
    padding: 59px 16px 60px;
}
.single-testi-desc p {
    font-size: 17px;
    line-height: 24px;
}
.teasti-title h4 {
    font-size: 18px;
    margin-top: 14px;
}
.single-selection-title h1 {
    font-size: 33px;
    line-height: 35px;
}
.style-two .google-map iframe {
    height: 264px;
}
.blog-area {
    padding: 119px 0 100px;
}
.blog-area .section-title p.style {
    width: 100%;
}
.blog-area .section-title {
    margin-bottom: 19px;
}
p.blog-desc {
    margin: 32px 0 32px;
    width: 100%;
}
.single-blog-box {
    margin-bottom: 20px;
}
.blog-content {
    padding: 28px 19px 25px;
}
.meta-blog span {
    margin-right: 11px;
}
.blog-content a {
    font-size: 18px;
    line-height: 28px;
}
.footer-widget-gallery img {
    width: 28%;
}
.footer-bottom-content ul li {
    float: left;
    margin-top: 16px;
}
.footer-widget-content {
    margin-bottom: -10px;
    margin-top: 33px;
}
.footer-area .row.aa-boder {
    margin-top: 112px;
}
.footer-bottom-content ul li a {
    margin-left: 0;
    margin-right: 18px;
}

/*all inner Pages Responsive */

.about-area.inner-style .about-thumb img {
    width: 100%;
    margin-bottom: 33px;
}

.inner-style .about-address p {
    padding: 14px 13px 17px 16px;
}

.room-list-area.inner-style {
    padding: 119px 0 64px;
}

.single-room-list-box {
    margin-bottom: 48px;
    margin-right: 0 !important;
}

.inner-style .room-list-info {
    width: 95%;
    padding: 9px 15px;
}

.inner-style .room-list-content {
    padding: 0 0 0 10px;
}

.inner-style .room-list-content h4 {
    font-size: 22px;
    margin: 21px 0 11px;
}

.find-room-area .row.add-bg {
    padding: 35px 15px 103px;
}

.room-content {
    padding: 16px 14px 7px;
}

.inner-style .row.add-backgroun {
    padding: 63px 6px 75px;
}

.inner-style .single-contact-form {
    padding: 42px 18px 60px;
}

.room-details-content h1 {
    font-size: 30px;
}

.room-details-item span {
    margin-right: 18px;
    line-height: 36px;
}

p.room-detils-desc {
    width: 100%;
}

.room-details-check-box {
    margin-right: 0;
    margin-bottom: 0;
}

p.check-item i {
    margin-right: 2px;
}

.room-details-area .room-rules {
    padding: 78px 8px 8px;
    margin-top: 28px;
}

.room-details-area .rules {
    display: block;
}

.room-details-sidbar-form {
  padding: 44px 5px 34px;
}

h4.cleandear-content {
    margin: 68px 0 45px;
}

.inner-pages .place-images-area {
    padding: 0 0 58px 0;
}

.inner-pages .place-images-area .single-place-box {
    padding: 66px 13px 67px 27px;
}

.inner-pages .place-images-area .single-place-box.two {
    margin-bottom: 36px;
}

.service-details-right {
    margin-top: 24px;
    padding: 24px 15px 45px;
}

.services-details-title-box {
    margin-bottom: 16px;
}

.services-details-title-box p {
    width: 100%;
    margin: 16px 0 0;
}

.services-details-title-box h1 {
    font-size: 24px;
}

.single-pricing-box {
    padding: 13px 17px 31px;
}

.pricing-body {
    padding: 35px 12px 26px;
}

.single-pricing-title h4:before {
    width: 41%;
}

.blog-list-content {
    padding: 22px 15px 24px;
}

.blog-list-area .meta-blog span {
    margin-right: 17px;
    margin-left: 7px;
}

.blog-list-content a {
    font-size: 20px;
    line-height: 28px;
}

.single-info-box {
    display: block;
    text-align: center;
    padding: 29px 3px 29px;
}

.single-info-icon i {
    margin-bottom: 20px;
}

.google-map iframe {
    width: 100%;
    height: 320px;
}
/*========Inner Blog Details Area responsive===========*/

.blog-side-bar-thumb {
    padding: 27px 17px 5px;
    margin-top: 36px;
}

.blog-details-thumb img {
    width: 100%;
}

.blog-details-title a {
    font-size: 22px;
    padding-top: 0;
    line-height: 28px;
}

.blog-details-desc p {
    width: 100%;
}

.blog-details-tag ul li {
    margin-right: 2px;
}

.blog-details-social {
    text-align: left;
    margin-top: 20px;
}

.blog-related-box {
    padding: 30px 19px 31px 18px;
    display: block;
    text-align: center;
}

.blog-related-thumb {
    padding-bottom: 15px;
}

.blog-related-box.style-two {
    margin-top: 25px;
    text-align: center;
    padding: 30px 21px 31px 21px;
}

.blog-related-box.style-two .blog-related-thumb {
    padding-top: 17px;
}

.blog-details-comment {
    padding: 29px 16px 25px;
    text-align: center;
}

.blog-details-comment-thumb {
    float: inherit;
    margin-right: 0;
    margin-bottom: 20px;
}

.blog-details-comment-content h2 {
    font-size: 16px;
    margin-right: 14px;
}

.blog-details-comment.style-two {
    margin-left: -1px;
}

.widget_search {
    margin-top: 38px;
    padding: 13px 18px 37px;
}

.widget-categories-box {
    padding: 21px 13px 15px;
}


.breadcumb-area {
    padding: 204px 0 151px;
}

.breadcumb-content h4 {
    font-size: 32px;
}

.sticky {
    position: absolute !important;
}


.loader {
    left: 33%;
}








/*home Two*/
.top-area.style-two {
    display: none;
}

.style-two.hero-area {
    margin: 0 0 0;
}

.style-two .hero-content h1 {
    font-size: 28px;
    line-height: 29px;
}

.booking-area .row.add-bg.align-items-center {
    margin: -231px 0;
    padding: 35px 15px 92px;
}

.about-area.style-two {
    padding: 236px 0 19px;
}

.style-two .about-conuter-box {
    margin-right: 46px;
}

.style-two .about-right-box {
    display: block;
}

.style-two .about-author-singthure:before {
    left: -27px;
    top: 7px;
}

.style-two .about-thumb {
    left: 0;
    margin-bottom: 38px;
}

.style-two .about-thumb img {
    width: 100%;
}

.style-two p.section-desc-2 {
    width: 95%;
}

.style-two.service-area {
    padding: 0 0 120px;
}

.style-two .service-thumb {
    left: 10px;
    margin-top: 26px;
}

.style-two .servcie-item-content {
    display: block;
}

.style-two .service-item-title h1 {
    font-size: 22px;
}

.style-two .service-thumb img {
    width: 100%;
}

.style-two .service-price-box {
    right: 0;
    bottom: 0px;
}

.style-two .single-room-box {
    margin: 0 0 0;
}

.style-two .room-content {
    padding: 29px 15px 21px;
}

.style-two .room-bottom {
    padding: 15px 15px 18px;
}

.style-two.fecilities-area {
    padding: 117px 0 100px;
}

.hotel-fecilities-thumb {
    left: 0;
    margin-bottom: 45px;
}

.hotel-fecilities-thumb img {
    width: 100%;
}

.hotel-fecilities-content h4 {
    right: 1px;
    top: -27px;
    font-size: 66px;
}

.hotel-fecilities-content h1 {
    font-size: 23px;
}

.hotel-fecilities-content p {
    /* width: 88%; */
    margin: 66px 0 0;
}

.hotel-fecilities-box.two {
    left: 0;
    margin-bottom: 31px;
}

.hotel-fecilities-thumb.two {
    left: 0;
    margin-bottom: 0;
}

.style-two .teasti-content p {
    width: 97%;
}

.style-two .single-form-box {
    margin-left: 0;
    margin-top: 50px;
    padding: 48px 11px 66px;
}

.style-two.blog-area .section-title {
    margin-bottom: 48px;
}

.style-two.blog-area .meta-blog span {
    margin-left: 12px;
    margin-right: 19px;
}

.style-two.blog-area .blog-content {
    padding: 31px 23px 24px;
}

.style-two.blog-area .blog-content a {
    font-size: 22px;
    line-height: 27px;
    padding-right: 0;
}


.style-two.video-area {
    padding: 118px 0 130px;
}

.style-two.teastimonial-area {
    padding: 120px 0 118px;
}

.brand-text-section {
    padding: 102px 0 100px;
}

.footer-widget-gallery img {
    width: 30%;
    margin: 0 5px 10px 5px;
}




}




/*xl device min width*/
@media screen and (min-width:992px) {
    .pl-lg-50 {
        padding-left: 50px;
    }
}

/*xl device min width*/
@media screen and (min-width:1200px) {
    .video-icon {
        left: 75%;
    }
}

/*xl device min width*/
@media screen and (max-width:479px) {
	.single-info-box { margin-bottom:25px; }
	.contact-info-area .col-lg-4.col-md-6:last-child .single-info-box { margin-bottom:0px; }
}

/* add new responsive */
@media screen and  (max-width: 992px){
    .additional-top{
        padding-top: 180px !important;
    }
    .lap-footer-list{
        display: none !important;
    }
}
@media screen and  (max-width: 990px){
    .lap-footer-list{
        display: none !important;
    }
}
@media screen and  (min-width: 992px){
    .responsive-footer{
        display: none !important;
    }
}
/* mobile  */
@media screen and  (max-width: 767px){
    .responsive-none{
        display: none;
    }
    .about-area.inner-style{
        padding: 100px 15px 10px;
    }
    .section-title h1{
        font-size: xx-large;
        line-height: 35px;
    }
    .room-area{
        padding: 100px 15px 10px;
    }
    .footer-area{
        padding: 39px 0 35px;
    }
    .responsive-footer-h4{
        margin-top: -15px;
    }
}
@media screen and  (max-width: 992px){
    .hotel-fecilities{
        padding: 0px;
    }
}
@media screen and  (max-width: 1201px){
    .for-large{
        display: none !important;
    }
    .for-small{
        display: block !important;
    } 
    .header-logo-img{
        margin-left: -10px;
    }
}

@media screen and  (max-width: 992px){
    .direction-change{
        flex-direction: column-reverse;
    }
    
}